@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
    background-color: #948fe5;
    border:solid;
    padding: 15px;
    width: 600px;
    border-radius: 15px;
    height: 750px;
}
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
    background-color: #948fe5;
    border:solid;
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    height: 350px;
}

h1 {
    align-self:flex-start;
    margin: 0px;
    font-size: 15px;
    font-style: italic;
    font-family:'Segoe UI', sans-serif;
    color:rgb(10, 13, 107)
}

.screen {
    background-color: black;
    border: solid;
    border-color: white;
    padding: 10px;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    box-sizing: border-box;
}

#input {
    color:white;
    word-break: break-all;
    align-self:flex-start;
    font-family: monospace, sans-serif;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
}
#output {
    color:white;
    align-self:flex-end;
    font-family: monospace, sans-serif;
    font-size: 15px;
}

.btn-group{
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: space-between;
    background-color: rgb(238, 142, 53);
    border-radius: 10px;
    padding: 5px;
}

.btn-input {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
}

.btn-operators {
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
}

.btn-others {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    grid-column:  1/3;
    grid-row: 2/3;
    width: 100%;
}

.btn {
    width: 90%;
    height:90%;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    border-radius: 8px;
    border:0;
    box-shadow: 2px 2px 2px rgb(107, 71, 4),
        2px 2px 2px rgb(244, 219, 173) inset;
    background-color:rgb(249, 185, 107);
}

.btn:hover {
    background-color:rgb(229, 166, 89);
}

.btn:active {
    background-color:rgb(198, 144, 78);
    box-shadow: -2px -2px 2px rgb(244, 219, 173) inset,
        2px 2px 2px rgb(105, 70, 6) inset;
}
#clear {
    background-color:rgb(241, 67, 48);
    box-shadow: 2px 2px 2px rgb(107, 71, 4),
        2px 2px 2px rgb(244, 181, 173) inset;
}

#clear:hover {
    background-color:rgb(206, 58, 42);
}
#clear:active {
    background-color:rgb(171, 48, 34);
    box-shadow: -2px -2px 2px rgb(244, 181, 173) inset,
        2px 2px 2px rgb(121, 28, 18) inset;
}

#equals {
    background-color:rgb(15, 205, 50);
    box-shadow: 2px 2px 2px rgb(107, 71, 4),
        2px 2px 2px rgb(147, 236, 123) inset;
}

#equals:hover {
    background-color:rgb(14, 176, 43);
}
#equals:active {
    background-color:rgb(16, 167, 43);
    box-shadow: -2px -2px 2px rgb(147, 236, 123) inset,
        2px 2px 2px rgb(6, 103, 24) inset;
}

.btn-operators button {
    background-color:rgb(244, 146, 97);
    box-shadow: 2px 2px 2px rgb(107, 71, 4),
        2px 2px 2px rgb(240, 187, 166) inset;
}

.btn-operators button:hover {
    background-color:rgb(212, 127, 85);
}

.btn-operators button:active {
    background-color:rgb(154, 77, 39),
        2px 2px 2px rgb(121, 28, 18) inset;
}
